<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <title>@ViewData["Title"] - Uppgift2</title>
</head>
<body>
    <div class="header">
        <p style="float:left"><i class="fab fa-dyalog"></i> MVC-CRUD</p>
        <h1>Uppgift2</h1>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Genras" asp-action="Create">Genra Form</a>
                <a asp-controller="Genras" asp-action="Index">Products</a>
                <a asp-controller="Home" asp-action="About">About</a>
            </div>
        </div>

        @RenderBody()

    </div>

    <footer class="footer">
        <p>Designed by Mohsen Ali Mohsen 2020</p>
    </footer>

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
